<h4>Internal Server -error - refreshing the page will make error disappear</h4>

@if (error) {

<ng-container>
    <h5 class="text-danger"> Error - {{error.message}}</h5>
    <p class="font-weight : bold">Note : Angular is not the issue.</p>
    <p>What to do next?</p>
    <ol>
        <li>Open Chrome Dev Tools>> F12 > check Network request in TAB</li>
        <li>Examine the request URL - what api endpoint are you requesting</li>
        <li>Reproduce the error in postman - If you can reproduce, then Angular is not the issue.</li>
    </ol>
    <p class="font-weight : bold">Stack trace below.</p>
    <code class="mt-5" style="background-color: whitesmoke">{{ error.details }}</code>
</ng-container>

}