<div class="mb-3 form-floating">
    <input [class.is-invalid]="control.touched && control.invalid" class="form-control"
        [formControl]="control" [type]="type()" placeholder={{label()}}>
    <label>{{label()}}</label>

    <div *ngIf="control.hasError('required')" 
            class="invalid-feedback text-start">Please enter {{label()}}
    </div>

    <div *ngIf="control.hasError('minlength')"
            class="invalid-feedback text-start">
            {{label()}} must be atleast {{control.errors?.['minlength'].requiredLength}} atleast characters
    </div>

    <div *ngIf="control.hasError('maxlength')" 
            class="invalid-feedback text-start">{{label()}} must be atleast {{control.errors?.['maxlength'].requiredLength}}
                atleast characters
    </div>

    <div *ngIf="control.hasError('isMatching')" 
            class="invalid-feedback text-start">Password not matching
    </div>
</div>